@import 'variables';
#app{
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  // width: 100vh;
  .footer-app{
    padding: 0.35em 0em 0em;
    margin: 14px 80px;
    height: 40px;
    background: $primary;
    h4{
      text-align: center;
      color: white;
      display: block;
      margin: 10px auto;
      font: {
        weight: 500;
        size: 15px;
      }
    }
    @media screen and (max-width: 992px){
      margin: 14px 0;
    }
  }
}
