@import "variables";

.step {
  width: 80%;
  margin: 0 auto;
  .app-title {
    text-align: center;
    color: black;
    margin-top: 20px;
    h2 {
      color: $primary;
      font-size: 28px;
    }
    h3 {
      font: {
        size: 16px;
        weight: 200;
      }
    }
    span {
      color: $primary;
      font-weight: bold;
    }
  }
  .form-step {
    .step-box {
      padding: 0.35em 0em 0em;
      margin: 0 80px;
      border: 1px solid $bordeBox;
      .step-pass {
        padding: 0em 0.65em 0em;
        width: 99%;
        height: 20px;
        span {
          font-size: 14px;
        }
      }
      .step-form {
        background-color: $boxColor;
        padding: 15px 6px;
        overflow: hidden;
        input {
          width: -webkit-fill-available;
          height: 44px;
          border: 1px solid #ccc;
          border-radius: 4px;
          &:focus,
          &:hover {
            border-color: #66afe9;
          }
        }
        h3 {
          text-align: center;
          font-size: 23px;
          margin-top: 15px;
        }
        select {
          width: -webkit-fill-available;
          height: 44px;
          border: 1px solid #ccc;
          background-color: $secondary;
          border-radius: 4px;
          &:focus,
          &:hover,
          &:focus-visible {
            border-color: #66afe9;
          }
        }
        button {
          margin: 15px;
          padding: 10px 20px;
          background: $primary;
          color: $secondary;
          border: none;
          border-radius: 4px;
          &:hover,
          &:focus {
            color: #333;
            background-color: #e6e6e6;
            border-color: #adadad;
          }
        }
        .btn-headline {
          display: flex;
          justify-content: center;
          button {
            background: #bfb8af;
          }
          .btn-active {
            background: $primary;
          }
        }
        .btn-next {
          display: flex;
          float: right;
        }
        .btn-prev {
          display: flex;
          float: left;
        }
      }
    }
  }
  @media screen and (max-width: 992px) {
    width: 100%;
    .form-step {
      .step-box {
        margin: 0 !important;
      }
    }
  }
}
