@import "variables";
.simulation {
  width: 50%;
  margin: 0 auto;
  .simulation-title {
    text-align: center;
    color: $primary;
  }
  .simulation-box-data {
    padding: 16px;
    margin-top: 20px;
    background: $boxColor;
    p {
      font: {
        weight: 100;
        size: 16px;
      }
      span {
        font: {
          weight: 700;
        }
      }
    }
  }
  .simulationTable {
    .simulation-title {
      background-color: $primary;
      color: #fff;
      padding: 1px;
      h2 {
        font: {
          size: 18px;
          weight: 200;
        }
      }
    }
    .simulation-box {
      background-color: $boxColor;
      margin-top: 0;
      padding: 4px 40px 30px;
      .info-box-simulation {
        display: table;
        margin: 0 auto;
        .cuota {
          font: {
            size: 18px;
            weight: 300;
          }
          span {
            font-weight: bold;
          }
        }
        .interes {
          font-size: 16px;
          margin-left: 30px;
          span {
            font-weight: bold;
          }
        }
        .deuda {
          font: {
            style: italic;
            size: 16px;
          }
          color: $deudaPrimary;
          span {
            font-weight: bold;
            color: $deudaSecondary;
          }
        }
      }

      button {
        background-color: $primary;
        color: $secondary;
        padding: 15px 23px;
        border: 4px;
        border-radius: 4px;
        margin: 0px 140px;
        font-size: 16px;
      }
    }
  }
  .footer-simulation {
    padding: 0.35em 0em 0em;
    margin: 14px 80px;
    height: 40px;
    text-align: center;
    h4 {
      display: block;
      margin: 10px auto;
      font: {
        weight: 500;
        size: 15px;
      }
    }
  }
  .footer-banca{
    text-align: center;
    display: block;
    .bancos{
      .bancos-box{
        background-color: #f5f5f3;
        float: left;
        margin: 10px;
        width: 20%;
        padding: 60px 11px;
        height: 50%;
        @media screen and (max-width:525px){
          padding: 60px 26%;
        }
      }
    }
  }
  @media screen and (max-width:992px){
    width: 100%;
   .simulation-box{
    .info-box-simulation{
      display: block !important;
      text-align: center !important;
    }
    button{
      margin: 0 !important;
    }

   }
    .footer-banca{
      .bancos{
        .bancos-box{
          width: 42%;
        }
      }
    }
  }
}
