.simulation {
  width: 50%;
  margin: 0 auto;
}
.simulation .simulation-title {
  text-align: center;
  color: #93c514;
  padding: 1px;
  font-size: 18px;
  font-weight: 200;
}
.simulation .simulation-box-data {
  padding: 18px;
  margin-top: 20px;
  background: #f5f5f3;
}
.simulation .simulation-box-data p {
  font-weight: 100;
  font-size: 16px;
}
.simulation .simulation-box-data p span {
  font-weight: 700;
}
.simulation .simulationTable .simulation-title {
  background-color: #93c514;
  color: #fff;
  padding: 18px;
  margin-top: 20px;
}
.simulation .simulationTable .simulation-box {
  background-color: #f5f5f3;
}
.simulation .simulationTable .simulation-box .cuota {
  font-size: 18px;
}
.simulation .simulationTable .simulation-box .cuota span {
  font-weight: 500;
}
.simulation .simulationTable .simulation-box .interes {
  font-size: 14px;
}
.simulation .simulationTable .simulation-box .interes span {
  font-weight: 500;
}
.simulation .simulationTable .simulation-box .deuda {
  font-style: italic;
  font-size: 12px;
  color: #838383;
}
.simulation .simulationTable .simulation-box .deuda span {
  font-weight: 500;
  color: #737480;
}
.simulation .simulationTable .simulation-box button {
  background-color: #93c514;
  color: #fff;
}

/*# sourceMappingURL=simulation.css.map */
