<template>
  <div>
    <form
      action=""
      method="post"
      class="form-step"
      @submit.prevent="submitStep"
    >
      <!-- First step -->
      <fieldset
        id="step-1"
        aria-label="Vivienda"
        tab-index="-1"
        class="step-box"
        v-show="step === 1"
        v-if="step === 1"
      >
        <div class="step-pass">
          <span
            ><strong>Paso 1 de 3:</strong> Información sobre la vivienda
          </span>
        </div>
        <div class="step-form">
          <h3>¿Cuál es el valor de la vivienda?</h3>
          <input
            type="number"
            min="0"
            class="form-control"
            v-model.number.lazy="$v.house_value.$model"
            :class="{
              'is-invalid': $v.house_value.$error,
              'is-valid': !$v.house_value.$invalid,
            }"
          />
          <div class="invalid-feedback">
            <span v-if="!$v.house_value.required">
              Es necesario saber el importe de la vivienda
            </span>
            <span v-if="!$v.house_value.minValue"
              >El importe de la vivienda es inferior a 20.000€</span
            >
          </div>

          <h3>¿En que provincia está/estará ubicada la vivienda?</h3>
          <select
            name=""
            id=""
            class="form-selected"
            aria-placeholder="Selecciona una provincia"
            v-model.trim="$v.fn_ubicacionviviendas.$model"
            :class="{
              'is-invalid': $v.fn_ubicacionviviendas.$error,
              'is-valid': !$v.fn_ubicacionviviendas.$invalid,
            }"
          >
            <option
              v-for="option in form.options"
              v-bind:value="option.value"
              :key="option.id"
            >
              {{ option.text }}
            </option>
          </select>
          <div class="invalid-feedback">
            <span v-if="!$v.fn_ubicacionviviendas.minValue"
              >La provincia es importante para calcular los impuestos</span
            >
          </div>
          <button
            class="btn btn-next"
            aria-controls="step-2"
            type="button"
            @click="nextStep"
          >
            >
          </button>
        </div>
      </fieldset>

      <!-- Second step -->
      <fieldset
        id="step-2"
        aria-label="Vivienda"
        tab-index="-1"
        class="step-box"
        v-show="step === 2"
        v-if="step === 2"
      >
        <div class="step-pass">
          <span><strong>Paso 2 de 3:</strong> Titulares y aportaciones </span>
        </div>
        <div class="step-form">
          <div>
            <h3>¿Cuantos titulares tendrá la hipoteca?</h3>
            <div class="btn-headline">
              <button
                type="button"
                :class="!btnActive ? 'btn-active' : ''"
                @click="headlines1"
                value="1"
              >
                Un Titular
              </button>
              <button
                type="button"
                :class="btnActive ? 'btn-active' : ''"
                @click="headlines2"
                value="2"
              >
                Dos Titulares
              </button>
            </div>
            <h3 id="aporte">
              {{ this.stepQuestion1 }}
            </h3>
            <input
              type="number"
              name="user_contribution"
              id="user_contribution"
              class="form-control"
              v-model.number.lazy="$v.user_contribution.$model"
              :class="{
                'is-invalid': $v.user_contribution.$error,
                'is-valid': !$v.user_contribution.$invalid,
              }"
            />
            <div class="invalid-feedback" v-if="$v.user_contribution.$dirty">
              <span v-if="!$v.user_contribution.minValue"
                >La aportación mínima debe de ser superior a 5.000€</span
              >
              <span v-if="!$v.user_contribution.required"
                >La aportación mínima debe de ser superior a 5.000€</span
              >
            </div>

            <h3 id="mensual">{{ this.stepQuestion2 }}</h3>
            <input
              type="number"
              name="client_incoming"
              id="client_incoming"
              v-model.number.lazy="$v.client_incoming.$model"
              :class="{
                'is-invalid': $v.client_incoming.$error,
                'is-valid': !$v.client_incoming.$invalid,
              }"
            />
            <div class="invalid-feedback">
              <span v-if="hasErrors && !$v.client_incoming.minValue"
                >No podemos gestionar operaciones donde los ingresos mensuales
                son inferiores a 500€</span
              >
              <span v-if="hasErrors && !$v.client_incoming.required"
                >No podemos gestionar operaciones donde los ingresos mensuales
                son inferiores a 500€</span
              >
            </div>
          </div>

          <button
            class="btn btn-prev"
            aria-controls="step-1"
            type="button"
            @click="prevStep"
          >
            <font-awesome-icon :icon="['fas', 'fa-chevron-left']" />
          </button>
          <button
            class="btn btn-next"
            aria-controls="step-3"
            type="button"
            @click="nextStep"
          >
            >
          </button>
        </div>
      </fieldset>
      <!-- Third step -->
      <fieldset
        id="step-3"
        aria-label="Vivienda"
        tab-index="-1"
        class="step-box"
        v-show="step === 3"
        v-if="step === 3"
      >
        <div class="step-pass">
          <span><strong>Paso 3 de 3:</strong> Datos para la gestión </span>
        </div>
        <div class="step-form">
          <div>
            <h3>Correo electrónico</h3>
            <input
              type="email"
              name="fn_emailaddress"
              id="fn_emailaddress"
              v-model.trim="$v.fn_emailaddress.$model"
              :class="{
                'is-invalid': $v.fn_emailaddress.$error,
                'is-valid': !$v.fn_emailaddress.$invalid,
              }"
            />
            <div class="invalid-feedback">
              <span v-if="!$v.fn_emailaddress.required"
                >Tu email es importante para mandarte la documentación.</span
              >
              <span v-if="!$v.fn_emailaddress.email"
                >Por favor introduce una dirección de correo valida</span
              >
            </div>

            <h3>Teléfono</h3>
            <input
              type="tel"
              name="fn_phonenumber"
              id="fn_phonenumber"
              v-model="$v.fn_phonenumber.$model"
              :class="{
                'is-invalid': $v.fn_phonenumber.$error,
                'is-valid': !$v.fn_phonenumber.$invalid,
              }"
            />
            <div class="invalid-feedback">
              <span v-if="!$v.fn_phonenumber.minValue"
                >Tu email es importante para mandarte la documentación.</span
              >
              <span v-if="!$v.fn_phonenumber.required"
                >Tu email es importante para mandarte la documentación.</span
              >
              <span v-if="!$v.fn_phonenumber.minLength"
                >Indícanos un número de teléfono correcto</span
              >
            </div>
          </div>
          <button
            class="btn btn-prev"
            aria-controls="step-1"
            type="button"
            @click="prevStep"
          >
            <i class="fas fa-chevron-left"></i>
          </button>

          <button class="btn btn-next" aria-controls="step-3" type="submit">
            VER SIMULACIÓN
          </button>
        </div>
      </fieldset>
    </form>
  </div>
</template>
<script>
import { required, minValue, email, minLength } from "vuelidate/lib/validators";
export default {
  name: "FormStep",
  data() {
    return {
      step: 1,
      totalSteps: 3,
      btnActive: false,
      hasError: false,
      stepQuestion1: "¿Cuál será tu aportación?",
      stepQuestion2: "¿Cuales son tus ingresos mensuales?",
      house_value: "",
      fn_ubicacionviviendas: 0,
      user_contribution: "",
      client_incoming: "",
      fn_emailaddress: "",
      fn_phonenumber: "",
      form: {
        options: [
          { id: 0, value: 0, text: "Selecciona una provincia" },
          { id: 1, value: 1, text: "1" },
          { id: 2, value: 2, text: "2" },
          { id: 3, value: 3, text: "3" },
        ],
      },
    };
  },
  validations: {
    house_value: {
      required,
      minValue: minValue(20000),
    },
    fn_ubicacionviviendas: {
      // required,
      minValue: minValue(1),
    },
    user_contribution: {
      required,
      minValue: minValue(5000),
    },
    client_incoming: {
      required,
      minValue: minValue(500),
    },
    fn_emailaddress: {
      required,
      email,
    },
    fn_phonenumber: {
      required,
      minLength: minLength(9),
    },
  },
  methods: {
    nextStep: function (e) {
      // validation next step
      if (this.step === 1) {
        if (
          this.$v.house_value.$invalid ||
          this.$v.fn_ubicacionviviendas.$invalid
        ) {
          // this.hasError = true
          return false;
        } else {
          return (this.step = 2);
        }
      }
      if (this.step === 2) {
        if (
          this.$v.user_contribution.$invalid ||
          this.$v.client_incoming.$invalid
        ) {
          return false;
        } else {
          return (this.step = 3);
        }
      }
      this.step++
    },
    prevStep: function () {
      this.step--;
    },
    // button titular
    headlines1: function () {
      this.stepQuestion1 = "¿Cuál será tu aportación?";
      this.stepQuestion2 = "¿Cuales son tus ingresos mensuales?";
      if (this.form.fn_titulares == 2) {
        this.form.fn_titulares--;
      }
      this.btnActive = !this.btnActive;
    },
    headlines2: function () {
      this.stepQuestion1 = "¿Cuál será vuestra aportación?";
      this.stepQuestion2 = "¿Cuál es la suma de vuestros ingresos mensuales?";
      this.form.fn_titulares++;
      this.btnActive = !this.btnActive;
    },
    submitStep: function (e) {
     if (
          this.$v.fn_emailaddress.$invalid ||
          this.$v.fn_phonenumber.$invalid
        ) {
          return false;
        } else {
          this.$router.push({ name: "Simulation" });
        }
    },
  },
};
</script>

<style lang="scss">
@import "~styles/main";
</style>
