<template lang="">
  <div class="step">
    <div class="app-title">
      <h2>Simula tu hipoteca</h2>
      <h3>Cualquier duda, llámanos al <span>602 25 94 15</span></h3>
    </div>
    <FormStep />
    <div class="footer-app">
      <h4>Ofrecido por:  <img :src="'./assets/img/prohipotecas-logo-small.png'"/></h4>

    </div>
  </div>
</template>
<script>
import FormStep from "./FormStep";

export default {
  name: "Step",
  components: {
    FormStep: FormStep,
  },
};
</script>
<style lang="scss">
@import "~styles/main";
</style>
