<template lang="">
  <div class="footer-banca">
    <p>Más bancos, más eficacia y agilidad</p>

    <!--ejemplo de como quedaría con imagenes -->
    <!-- esta parte viene de db -->
    <div class="bancos">
      <div class="bancos-box">
        Banco 1
      </div>
      <div class="bancos-box">
        Banco 1
      </div>
      <div class="bancos-box">
        Banco 1
      </div>
      <div class="bancos-box">
        Banco 1
      </div>
      <div class="bancos-box">
        Banco 1
      </div>
      <div class="bancos-box">
        Banco 1
      </div>
    </div>
  </div>
</template>
<script>
export default {

}
</script>
<style lang="">

</style>
