<template lang="">
  <div class="simulationTable">
    <!-- esta información viene de db -->
    <div class="simulation-title">
      <h2>HIPOTECA FIJA</h2>
    </div>
    <div class="simulation-box">
      <div class="info-box-simulation">
        <h3 class="cuota">Cuota desde <span>51€</span></h3>
        <p class="interes"> Interés Fijo <span> 1'4%</span> | Plazo /<span>30 años</span></p>
        <p class="deuda"> Tu nivel de endaudamiento con esta hipoteca <span> es del 4%</span></p>
        <button>Me interesa</button>
      </div>
    </div>
  </div>
</template>
<script>
export default {

}
</script>
<style lang="">

</style>
