<template lang="">
  <div class="simulation">
    <h2 class="simulation-title">Hipotecas que tenemos para ti</h2>
    <div class="simulation-box-data">
      <p>Para un vivienda de  <span> 20.000€</span>, con una aportación de <span>5.000€</span>, unos ingresos menusales de <span>1.200€</span> y con contrato <span>Indefinido</span></p>
    </div>

    <p>Éstos son los productos hipotecarios que Prohipoteca tiene para ti, una de nuestras analistas te llamará para darte los detalles:</p>
    <SimulationTable/>
    <div class="footer-simulation">
      <h4>Ofrecido por:</h4>
    </div>
    <FooterBanca />
  </div>
</template>
<script>
import SimulationTable from "./SimulationTable";
import FooterBanca from "./FooterBanca";
export default {
  name: "Simulation",
  components: {
    SimulationTable: SimulationTable,
    FooterBanca: FooterBanca,
  },
};
</script>
<style lang="scss">
@import '~styles/main';
</style>
